<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull">
  <!-- wp:group {"metadata":{"categories":["posts"],"patternName":"cm-news/full-width-content-overlay","name":"Full Width Content Overlay"},"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
  <div
    class="wp-block-group alignfull"
    style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0"
  >
    <!-- wp:group {"align":"full","layout":{"type":"default"}} -->
    <div class="wp-block-group alignfull">
      <!-- wp:group {"layout":{"type":"constrained"}} -->
      <div class="wp-block-group">
        <!-- wp:query {"queryId":15,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"align":"full","className":"cm-news-overlay-large-cards"} -->
        <div class="wp-block-query alignfull cm-news-overlay-large-cards">
          <!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"grid","columnCount":4}} -->
          <!-- wp:group {"className":"cm-news-pro-overlay-sections ","style":{"border":{"radius":"4px","style":"none","width":"0px"}},"backgroundColor":"background-2","layout":{"type":"constrained"}} -->
          <div
            class="wp-block-group cm-news-pro-overlay-sections has-background-2-background-color has-background"
            style="border-style: none; border-width: 0px; border-radius: 4px"
          >
            <!-- wp:group {"className":"cm-news-pro-overlay-section-thumbnails__wrapper","layout":{"type":"constrained"}} -->
            <div
              class="wp-block-group cm-news-pro-overlay-section-thumbnails__wrapper"
            >
              <!-- wp:cover {"useFeaturedImage":true,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(8,8,8,0) 0%,rgb(17,17,17) 79%)","style":{"dimensions":{"aspectRatio":"1"}},"layout":{"type":"constrained"}} -->
              <div class="wp-block-cover">
                <span
                  aria-hidden="true"
                  class="wp-block-cover__background has-background-dim-100 has-background-dim has-background-gradient"
                  style="
                    background: linear-gradient(
                      180deg,
                      rgba(8, 8, 8, 0) 0%,
                      rgb(17, 17, 17) 79%
                    );
                  "
                ></span>
                <div class="wp-block-cover__inner-container">
                  <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
                  <p class="has-text-align-center has-large-font-size"></p>
                  <!-- /wp:paragraph -->
                </div>
              </div>
              <!-- /wp:cover -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"cm-news-overlay-cards-content","style":{"spacing":{"padding":{"top":"24px","bottom":"24px","left":"16px","right":"16px"},"blockGap":"6px"}},"layout":{"type":"default"}} -->
            <div
              class="wp-block-group cm-news-overlay-cards-content"
              style="
                padding-top: 24px;
                padding-right: 16px;
                padding-bottom: 24px;
                padding-left: 16px;
              "
            >
              <!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|accent-text"}}}},"textColor":"accent-text"} /-->

              <!-- wp:post-title {"level":3,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"32px","lineHeight":"1.2"},"spacing":{"padding":{"top":"12px","bottom":"12px"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"#fbfbfb"}}},"color":{"text":"#fbfbfb"}}} /-->

              <!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
              <div class="wp-block-group">
                <!-- wp:post-author {"showAvatar":false,"className":"is-style-cm-news-author-with-icon","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"#fbfbfb"}}},"color":{"text":"#fbfbfb"}},"fontFamily":"roboto"} /-->

                <!-- wp:post-date {"className":"is-style-cm-news-date-with-icon","style":{"typography":{"fontSize":"13px","fontStyle":"normal","fontWeight":"400"},"elements":{"link":{"color":{"text":"#fbfbfb"}}},"color":{"text":"#fbfbfb"}}} /-->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
          <!-- /wp:post-template -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"align":"full","backgroundColor":"body-color","layout":{"type":"default"}} -->
  <div
    class="wp-block-group alignfull has-body-color-background-color has-background"
  >
    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:spacer {"height":"24px"} -->
      <div
        style="height: 24px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"24px","left":"24px"}}}} -->
      <div class="wp-block-columns alignwide">
        <!-- wp:column -->
        <div class="wp-block-column">
          <!-- wp:query {"queryId":51,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
          <div class="wp-block-query">
            <!-- wp:post-template -->
            <!-- wp:group {"className":"cm-news-overflow-hidden","style":{"border":{"radius":"4px","style":"solid","width":"1px"}},"backgroundColor":"background-2","borderColor":"cm-border","layout":{"type":"constrained"}} -->
            <div
              class="wp-block-group cm-news-overflow-hidden has-border-color has-cm-border-border-color has-background-2-background-color has-background"
              style="border-style: solid; border-width: 1px; border-radius: 4px"
            >
              <!-- wp:group {"className":"cm-news-img-cat__wrapper","layout":{"type":"constrained"}} -->
              <div class="wp-block-group cm-news-img-cat__wrapper">
                <!-- wp:post-featured-image {"isLink":true,"width":"","height":"400px","style":{"spacing":{"margin":{"right":"0","left":"0"}}}} /-->

                <!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|accent-text"}}}},"textColor":"accent-text"} /-->
              </div>
              <!-- /wp:group -->

              <!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","bottom":"12px","left":"12px","right":"12px"}}},"layout":{"type":"default"}} -->
              <div
                class="wp-block-group"
                style="
                  padding-top: 20px;
                  padding-right: 12px;
                  padding-bottom: 12px;
                  padding-left: 12px;
                "
              >
                <!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
                <div class="wp-block-group">
                  <!-- wp:post-author {"showAvatar":false,"className":"is-style-cm-news-author-with-icon","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}}},"textColor":"cm-text","fontFamily":"roboto"} /-->

                  <!-- wp:post-date {"className":"is-style-cm-news-date-with-icon","style":{"typography":{"fontSize":"12px","fontStyle":"normal","fontWeight":"400"},"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}}},"textColor":"cm-text"} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-title {"level":4,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"30px"},"spacing":{"padding":{"top":"12px","bottom":"12px"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|title-color"}}}},"textColor":"title-color"} /-->

                <!-- wp:post-excerpt {"moreText":"Read More...","excerptLength":62,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"},"elements":{"link":{"color":{"text":"var:preset|color|accent"}}}},"textColor":"cm-text"} /-->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:query -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column">
          <!-- wp:query {"queryId":3,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide"} -->
          <div class="wp-block-query alignwide">
            <!-- wp:post-template {"style":{"spacing":{"blockGap":"24px"}},"layout":{"type":"grid","columnCount":2}} -->
            <!-- wp:group {"className":"cm-news-overflow-hidden","style":{"border":{"radius":"4px","style":"solid","width":"1px"}},"backgroundColor":"background-2","borderColor":"cm-border","layout":{"type":"constrained"}} -->
            <div
              class="wp-block-group cm-news-overflow-hidden has-border-color has-cm-border-border-color has-background-2-background-color has-background"
              style="border-style: solid; border-width: 1px; border-radius: 4px"
            >
              <!-- wp:group {"className":"cm-news-img-cat__wrapper","layout":{"type":"constrained"}} -->
              <div class="wp-block-group cm-news-img-cat__wrapper">
                <!-- wp:post-featured-image {"isLink":true,"width":"","height":"160px","style":{"spacing":{"margin":{"right":"0","left":"0"}}}} /-->

                <!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|accent-text"}}}},"textColor":"accent-text"} /-->
              </div>
              <!-- /wp:group -->

              <!-- wp:group {"style":{"spacing":{"padding":{"top":"12px","bottom":"12px","left":"12px","right":"12px"}}},"layout":{"type":"default"}} -->
              <div
                class="wp-block-group"
                style="
                  padding-top: 12px;
                  padding-right: 12px;
                  padding-bottom: 12px;
                  padding-left: 12px;
                "
              >
                <!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group">
                  <!-- wp:post-author {"showAvatar":false,"className":"is-style-cm-news-author-with-icon","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}}},"textColor":"cm-text","fontFamily":"roboto"} /-->

                  <!-- wp:post-date {"className":"is-style-cm-news-date-with-icon","style":{"typography":{"fontSize":"12px","fontStyle":"normal","fontWeight":"400"},"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}}},"textColor":"cm-text"} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-title {"level":5,"isLink":true,"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"500"},"spacing":{"padding":{"top":"8px","bottom":"8px"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|title-color"}}}},"textColor":"title-color"} /-->

                <!-- wp:post-excerpt {"moreText":"Read More...","excerptLength":15,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"cm-text"} /-->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:query -->
        </div>
        <!-- /wp:column -->
      </div>
      <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"align":"full","backgroundColor":"body-color","layout":{"type":"default"}} -->
  <div
    class="wp-block-group alignfull has-body-color-background-color has-background"
  >
    <!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"center"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:spacer {"height":"60px"} -->
      <div
        style="height: 60px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:heading {"textAlign":"left","level":5,"align":"wide","className":"is-style-cm-news-section-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|title-color"}}}},"textColor":"title-color"} -->
      <h5
        class="wp-block-heading alignwide has-text-align-left is-style-cm-news-section-title has-title-color-color has-text-color has-link-color"
      >
        Featured News
      </h5>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"36px"} -->
      <div
        style="height: 36px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:query {"queryId":3,"query":{"perPage":"8","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide"} -->
      <div class="wp-block-query alignwide">
        <!-- wp:post-template {"style":{"spacing":{"blockGap":"24px"}},"layout":{"type":"grid","columnCount":4}} -->
        <!-- wp:group {"className":"cm-news-overflow-hidden","style":{"border":{"radius":"4px","style":"solid","width":"1px"}},"backgroundColor":"background-2","borderColor":"cm-border","layout":{"type":"constrained"}} -->
        <div
          class="wp-block-group cm-news-overflow-hidden has-border-color has-cm-border-border-color has-background-2-background-color has-background"
          style="border-style: solid; border-width: 1px; border-radius: 4px"
        >
          <!-- wp:group {"className":"cm-news-img-cat__wrapper","layout":{"type":"constrained"}} -->
          <div class="wp-block-group cm-news-img-cat__wrapper">
            <!-- wp:post-featured-image {"isLink":true,"width":"","height":"170px","style":{"spacing":{"margin":{"right":"0","left":"0"}}}} /-->

            <!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|accent-text"}}}},"textColor":"accent-text"} /-->
          </div>
          <!-- /wp:group -->

          <!-- wp:group {"style":{"spacing":{"padding":{"top":"12px","bottom":"12px","left":"12px","right":"12px"}}},"layout":{"type":"default"}} -->
          <div
            class="wp-block-group"
            style="
              padding-top: 12px;
              padding-right: 12px;
              padding-bottom: 12px;
              padding-left: 12px;
            "
          >
            <!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
            <div class="wp-block-group">
              <!-- wp:post-author {"showAvatar":false,"className":"is-style-cm-news-author-with-icon","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}}},"textColor":"cm-text","fontFamily":"roboto"} /-->

              <!-- wp:post-date {"className":"is-style-cm-news-date-with-icon","style":{"typography":{"fontSize":"12px","fontStyle":"normal","fontWeight":"400"},"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}}},"textColor":"cm-text"} /-->
            </div>
            <!-- /wp:group -->

            <!-- wp:post-title {"level":5,"isLink":true,"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"500"},"spacing":{"padding":{"top":"8px","bottom":"8px"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|title-color"}}}},"textColor":"title-color"} /-->

            <!-- wp:post-excerpt {"moreText":"Read More...","excerptLength":15,"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"cm-text"} /-->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
        <!-- /wp:post-template -->
      </div>
      <!-- /wp:query -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"align":"full","backgroundColor":"body-color","layout":{"type":"default"}} -->
  <div
    class="wp-block-group alignfull has-body-color-background-color has-background"
  >
    <!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"center"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:spacer {"height":"60px"} -->
      <div
        style="height: 60px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:heading {"textAlign":"left","level":5,"align":"wide","className":"is-style-cm-news-section-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|title-color"}}}},"textColor":"title-color"} -->
      <h5
        class="wp-block-heading alignwide has-text-align-left is-style-cm-news-section-title has-title-color-color has-text-color has-link-color"
      >
        Latest Stories
      </h5>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"36px"} -->
      <div
        style="height: 36px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"24px","left":"24px"}}}} -->
      <div class="wp-block-columns alignwide">
        <!-- wp:column {"width":"70%"} -->
        <div class="wp-block-column" style="flex-basis: 70%">
          <!-- wp:query {"queryId":3,"query":{"perPage":"5","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide"} -->
          <div class="wp-block-query alignwide">
            <!-- wp:post-template {"style":{"spacing":{"blockGap":"24px"}},"layout":{"type":"default","columnCount":4}} -->
            <!-- wp:columns {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"border":{"style":"solid","width":"1px"}},"backgroundColor":"background-2","borderColor":"cm-border"} -->
            <div
              class="wp-block-columns has-border-color has-cm-border-border-color has-background-2-background-color has-background"
              style="
                border-style: solid;
                border-width: 1px;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
              "
            >
              <!-- wp:column {"width":"30%"} -->
              <div class="wp-block-column" style="flex-basis: 30%">
                <!-- wp:post-featured-image {"isLink":true,"width":"","height":"180px","style":{"spacing":{"margin":{"right":"0","left":"0"}}}} /-->
              </div>
              <!-- /wp:column -->

              <!-- wp:column {"verticalAlignment":"center","width":"100%"} -->
              <div
                class="wp-block-column is-vertically-aligned-center"
                style="flex-basis: 100%"
              >
                <!-- wp:group {"style":{"spacing":{"padding":{"top":"12px","bottom":"12px","left":"12px","right":"12px"},"blockGap":"7px"}},"layout":{"type":"default"}} -->
                <div
                  class="wp-block-group"
                  style="
                    padding-top: 12px;
                    padding-right: 12px;
                    padding-bottom: 12px;
                    padding-left: 12px;
                  "
                >
                  <!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|accent-text"}}},"spacing":{"margin":{"top":"3px","bottom":"3px"}}},"textColor":"accent-text"} /-->

                  <!-- wp:post-title {"level":5,"isLink":true,"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"500"},"spacing":{"padding":{"top":"8px","bottom":"0px"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|title-color"}}}},"textColor":"title-color"} /-->

                  <!-- wp:group {"style":{"spacing":{"blockGap":"12px","margin":{"top":"12px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                  <div class="wp-block-group" style="margin-top: 12px">
                    <!-- wp:post-author {"showAvatar":false,"className":"is-style-cm-news-author-with-icon","style":{"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"12px"},"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}}},"textColor":"cm-text","fontFamily":"roboto"} /-->

                    <!-- wp:post-date {"className":"is-style-cm-news-date-with-icon","style":{"typography":{"fontSize":"12px","fontStyle":"normal","fontWeight":"400"},"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}}},"textColor":"cm-text"} /-->
                  </div>
                  <!-- /wp:group -->

                  <!-- wp:post-excerpt {"moreText":"Read More...","excerptLength":15,"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent-color"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"cm-text"} /-->
                </div>
                <!-- /wp:group -->
              </div>
              <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
            <!-- /wp:post-template -->
          </div>
          <!-- /wp:query -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"33%"} -->
        <div class="wp-block-column" style="flex-basis: 33%">
          <!-- wp:template-part {"slug":"sidebar","area":"uncategorized"} /-->
        </div>
        <!-- /wp:column -->
      </div>
      <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
  <!-- wp:pattern {"slug":"cm-news/podcasts"} /-->

  <!-- wp:group {"metadata":{"categories":["posts"],"patternName":"cm-news/horizontal-posts-from-category","name":"Horizontal Posts From Category"},"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}},"backgroundColor":"body-color","layout":{"type":"default"}} -->
  <div
    class="wp-block-group alignfull has-body-color-background-color has-background"
    style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0"
  >
    <!-- wp:spacer {"height":"var:preset|spacing|40","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
    <div
      style="
        margin-top: 0;
        margin-bottom: 0;
        height: var(--wp--preset--spacing--40);
      "
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"24px","left":"24px"}}}} -->
      <div class="wp-block-columns alignwide">
        <!-- wp:column -->
        <div class="wp-block-column">
          <!-- wp:heading {"level":5,"className":"is-style-cm-news-section-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|text-2"}}}},"textColor":"text-2"} -->
          <h5
            class="wp-block-heading is-style-cm-news-section-title has-text-2-color has-text-color has-link-color"
          >
            Sports
          </h5>
          <!-- /wp:heading -->

          <!-- wp:group {"style":{"spacing":{"margin":{"top":"24px"}}},"layout":{"type":"constrained"}} -->
          <div class="wp-block-group" style="margin-top: 24px">
            <!-- wp:query {"queryId":4,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
            <div class="wp-block-query">
              <!-- wp:post-template {"style":{"spacing":{"blockGap":"28px"}},"layout":{"type":"default","columnCount":3}} -->
              <!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"blockGap":{"left":"12px"}}}} -->
              <div class="wp-block-columns is-not-stacked-on-mobile">
                <!-- wp:column {"width":"89px"} -->
                <div class="wp-block-column" style="flex-basis: 89px">
                  <!-- wp:post-featured-image {"isLink":true,"width":"89px","height":"79px"} /-->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"verticalAlignment":"center","width":"70%","style":{"spacing":{"blockGap":"8px"}}} -->
                <div
                  class="wp-block-column is-vertically-aligned-center"
                  style="flex-basis: 70%"
                >
                  <!-- wp:post-title {"level":6,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|text-2"}}}},"textColor":"text-2","fontSize":"extra-small"} /-->

                  <!-- wp:post-date {"className":"is-style-cm-news-date-with-icon","style":{"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}},"typography":{"fontSize":"12px","fontStyle":"normal","fontWeight":"400"}},"textColor":"cm-text"} /-->
                </div>
                <!-- /wp:column -->
              </div>
              <!-- /wp:columns -->
              <!-- /wp:post-template -->
            </div>
            <!-- /wp:query -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column">
          <!-- wp:heading {"level":5,"className":"is-style-cm-news-section-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|text-2"}}}},"textColor":"text-2"} -->
          <h5
            class="wp-block-heading is-style-cm-news-section-title has-text-2-color has-text-color has-link-color"
          >
            Politics
          </h5>
          <!-- /wp:heading -->

          <!-- wp:group {"style":{"spacing":{"margin":{"top":"24px"}}},"layout":{"type":"constrained"}} -->
          <div class="wp-block-group" style="margin-top: 24px">
            <!-- wp:query {"queryId":5,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
            <div class="wp-block-query">
              <!-- wp:post-template {"style":{"spacing":{"blockGap":"28px"}},"layout":{"type":"default","columnCount":3}} -->
              <!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"blockGap":{"left":"12px"}}}} -->
              <div class="wp-block-columns is-not-stacked-on-mobile">
                <!-- wp:column {"width":"89px"} -->
                <div class="wp-block-column" style="flex-basis: 89px">
                  <!-- wp:post-featured-image {"isLink":true,"width":"89px","height":"79px"} /-->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"verticalAlignment":"center","width":"70%","style":{"spacing":{"blockGap":"8px"}}} -->
                <div
                  class="wp-block-column is-vertically-aligned-center"
                  style="flex-basis: 70%"
                >
                  <!-- wp:post-title {"level":6,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|text-2"}}}},"textColor":"text-2","fontSize":"extra-small"} /-->

                  <!-- wp:post-date {"className":"is-style-cm-news-date-with-icon","style":{"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}},"typography":{"fontSize":"12px","fontStyle":"normal","fontWeight":"400"}},"textColor":"cm-text"} /-->
                </div>
                <!-- /wp:column -->
              </div>
              <!-- /wp:columns -->
              <!-- /wp:post-template -->
            </div>
            <!-- /wp:query -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column">
          <!-- wp:heading {"level":5,"className":"is-style-cm-news-section-title","style":{"elements":{"link":{"color":{"text":"var:preset|color|text-2"}}}},"textColor":"text-2"} -->
          <h5
            class="wp-block-heading is-style-cm-news-section-title has-text-2-color has-text-color has-link-color"
          >
            Technology
          </h5>
          <!-- /wp:heading -->

          <!-- wp:group {"style":{"spacing":{"margin":{"top":"24px"}}},"layout":{"type":"constrained"}} -->
          <div class="wp-block-group" style="margin-top: 24px">
            <!-- wp:query {"queryId":6,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
            <div class="wp-block-query">
              <!-- wp:post-template {"style":{"spacing":{"blockGap":"28px"}},"layout":{"type":"default","columnCount":3}} -->
              <!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"blockGap":{"left":"12px"}}}} -->
              <div class="wp-block-columns is-not-stacked-on-mobile">
                <!-- wp:column {"width":"89px"} -->
                <div class="wp-block-column" style="flex-basis: 89px">
                  <!-- wp:post-featured-image {"isLink":true,"width":"89px","height":"79px"} /-->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"verticalAlignment":"center","width":"70%","style":{"spacing":{"blockGap":"8px"}}} -->
                <div
                  class="wp-block-column is-vertically-aligned-center"
                  style="flex-basis: 70%"
                >
                  <!-- wp:post-title {"level":6,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|text-2"}}}},"textColor":"text-2","fontSize":"extra-small"} /-->

                  <!-- wp:post-date {"className":"is-style-cm-news-date-with-icon","style":{"elements":{"link":{"color":{"text":"var:preset|color|cm-text"}}},"typography":{"fontSize":"12px","fontStyle":"normal","fontWeight":"400"}},"textColor":"cm-text"} /-->
                </div>
                <!-- /wp:column -->
              </div>
              <!-- /wp:columns -->
              <!-- /wp:post-template -->
            </div>
            <!-- /wp:query -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
      </div>
      <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"var:preset|spacing|40","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
    <div
      style="
        margin-top: 0;
        margin-bottom: 0;
        height: var(--wp--preset--spacing--40);
      "
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
